<div class="container">
	<div class="page-header">
	<h2>Michelle's Diary</h2>
	</div>


<table class="table">
	<td>#</td>
	<td>Title</td>
	<td>Description</td>
	<td>Mood</td>

<% @diary_entries.each do |d| %>
	<tr>
		<td><%= d.id %></td>
		<td><%= d.title%></td>
		<td><%= d.description %></td>
		<td><%= d.mood%></td>
	</tr>

	<% end %>
</table>
</div>

<!--<p>I have <%= @diary_entries.length %> entries</p>

<p> I have <%= @diary_entries_positive.length %> positive entry</p>

<ol>
	<li><% @diary_entries.each do |d| %>
	<%= d.title %>
	<% end %></li>
</ol>

<% @diary_entries.each do |d| %>
<%= d.description %>
<% end %>


<% @diary_entries.each do |d| %>
	<% if d.mood == "happy" || d.mood == "joyful" %>
		<div style='color: green'><%= d.mood %></div>
	<% else %>
		<div><%= d.mood %></div>
	<% end %>
<% end %> -->

<p><button class="btn btn-info" type="button">
<%= link_to 'New Diary Entry', new_diary_entry_path %>

</button></p>

