<!DOCTYPE HTML>
<html lang="en-US">

<head>
	<link href='http://fonts.googleapis.com/css?family=Snowburst+One' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="header">
		<h1>Michelle's Hacklendar</h1>
	</div>

	<div class="calendar">
		<%= render "calendar" %>
	</div>
	

<div class="container">
<h3>Daily Log</h3>
</div>
	<table class="table">
		<td>Title</td>
		<td>Description</td>
		<td>Mood</td>

	<% @diary_entries.each do |d| %>
		<tr>
			<td><%= d.title%></td>
			<td><%= d.description %></td>
			<td><%= d.mood%></td>
		</tr>

		<% end %>
	</table>
</div>

</body>


<!--<p>I have <%= @diary_entries.length %> entries</p>

<p> I have <%= @diary_entries_positive.length %> positive entry</p>

<ol>
	<li><% @diary_entries.each do |d| %>
	<%= d.title %>
	<% end %></li>
</ol>

<% @diary_entries.each do |d| %>
<%= d.description %>
<% end %>


<% @diary_entries.each do |d| %>
	<% if d.mood == "Happy" || d.mood == "Joyful" %>
		<div style='color: green'><%= d.mood %></div>
	<% else %>
		<div><%= d.mood %></div>
	<% end %>
<% end %> -->

<div class="links">
<%= link_to "Previous Day", diary_entries_path(day: @day - 1.day) %>&#8596;
<%= link_to "Next Day", diary_entries_path(day: @day + 1.day) %>
</div>


<p><button class="btn btn-info" type="button">
<%= link_to 'New Entry', new_diary_entry_path %>
</button></p>


